/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

body {
  background-image: url('wood3.jpg');
}

.footer {
  position: fixed;
  bottom: 0;  
  width: 100%;
}

.copyright {
  color: #FFD700;
}

.title {
  color: #FFD700;
  size: 50px;
}

.nav-btn {
  color: #FFD700;

}

.login-container {
  margin: auto;
  margin-top: 20px;
  display: grid;
  justify-content: center;
}

.h3 {
  color: #FFD700;
  font-size: 50px;
  margin-bottom: 70px;
}

.log-label {
  color: #FFD700;
  font-size: 26px;
}

.optional {
  width: 500px;
}

.btn-dark {
 color: #FFD700;
}

.log-btn {
  width: 70%;
  margin-left: 70px;
}

.form-inputs {
  max-width: 600px;
} 

.new-btn {
  float: right;
  margin: 10px 30px 30px 30px;
  width: 15%;
  text-align: center;
}


.card {
  background-image: url('bg4.jpg');
}

.index {
  margin: 5px 10px 5px 10px;
}

.index-card-title {
  text-align: center;
  font-size: 30px;
  color: #4B0082;
  font-weight: bold;
}

.index-card-text {
  font-size: 20px;
}

.title-container {
  color: #FFD700;
  size: 40px;
  margin: 5px 10px 10px 10px;
}

.card-contact {
  margin-top: 30px;
}

.show-card {
  width: 60%;
  display: grid;
  margin: 100px 300px 100px 300px;
}

.card-title {
  text-align: center;
  font-size: 55px;
  color: #4B0082;
  font-style: italic;
}

.contact {
  color: #4B0082;;
  font-style: italic;
  font-size: 26px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 30px;
  font-size: 30px;
}

.list-hor {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.delete-btn {
  float: right;
  margin: 0px 5px 4px 0px;
  width: 160px;
  text-align: center;
}

.us-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.us-item {
  display: block;
  text-align: center;
  padding: 3px;
}

.us-cur {
  font-style: italic;
}

.list-mg {
  margin-bottom: 30px;
}

.col-ind {
  margin-bottom: 20px;
}

.users-list {
  width: 255px;
}


.show-image {
  width:250px;
  height: 340px;
}

.carousel-control-next {
  left: 190px;
}

.lst {
  background-color: black;
}

.contact-text {
  color: #FFD700;
  background-color: #343a40;
}

.btn-list {
  background-color: transparent;
  border: 0;
}

.users {
  background-image: url('wood3.jpg');
}

.type-text {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.card-body {
  max-width: 1000px;
}